button[type="submit"] {
  background-color: $color-button-primary;
  color: $color-text-primary
}

button {
  background-color: $color-button-secondary;
  color: $color-text-secondary;
  padding: 8px 16px;
  border: 0px;
  border-radius: 4px;
}
